.work__title {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.7;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 50px;
}

.team__title {
	@media screen and (min-width: 1200px) {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 1.7;
		text-align: center;
		letter-spacing: 0.03em;
		color: #212121;
		margin-bottom: 50px;
	}
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 30px;
}

.clients__title {
	@media screen and (min-width: 1200px) {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 1.7;
		text-align: center;
		letter-spacing: 0.03em;
		color: #212121;
		margin-bottom: 50px;
	}
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 30px;
}
.hero__title {
	@media screen and (min-width: 1200px) {
		color: #ffffff;
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		display: block;
		margin-top: auto;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		font-family: Roboto;
		font-style: normal;
		font-weight: 900;
		font-size: 26px;
		line-height: 1.16;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #ffffff;
		padding-top: 118px;
	}
	@media screen and (min-width: 480px) and (max-width: 767px) {
		font-family: Roboto;
		font-style: normal;
		font-weight: 900;
		font-size: 26px;
		line-height: 1.16;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #ffffff;
		padding-top: 118px;
	}
	@media screen and (max-width: 479px) {
		font-family: Roboto;
		font-style: normal;
		font-weight: 900;
		font-size: 16px;
		line-height: 1.06;
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #ffffff;
		padding-top: 90px;
	}
}

.info__title {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
	margin-bottom: 10px;
	@media screen and (max-width: 767px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.footer-icon__title {
	@media screen and (min-width: 1199px) {
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 20px;
	}
	@media screen and (max-width: 767px) {
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 20px;
		margin-top: 60px;
		display: flex;
		justify-content: center;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
	}
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}
.footer-form__title {
	@media screen and (min-width: 1200px) {
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 20px;
	}
	@media screen and (max-width: 767px) {
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 20px;
		margin-top: 60px;
		display: flex;
		justify-content: center;
	}
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}
