.header__span--accent {
  color: var(--accent-text-color);
}
.nav__list {
  display: flex;
  margin-left: 93px;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact__list {
  display: flex;
  margin-left: auto;
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-text-color);
  }
  &:focus {
    color: var(--accent-text-color);
  }
}
.nav__link--active {
  color: var(--accent-text-color);
}
.nav__link--active::after {
  content: '';
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;

  border-radius: 2px;
  background-color: #2196f3;
}
.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(117, 117, 117, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
.contact__maill {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.contact__telefon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header__container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}
