.info {
	//padding-top: 94px;
	padding-top: 60px;
}
.info__list {
	@media screen and (min-width: 768px) {
	}
	@media screen and (min-width: 1200px) {
		display: flex;
	}
}
.info__item {
	@media screen and (min-width: 768px) {
		margin-right: 30px;
	}
	@media screen and (min-width: 1200px) {
		margin-right: 30px;
	}
}

.info__box {
	width: 270px;
	height: 120px;
	background-color: #f5f4fa;
	border-radius: 4%;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 480px) {
		width: 450px;

		@media screen and (min-width: 768px) {
			width: 354px;
		}
		@media screen and (min-width: 1200px) {
			width: 270px;
		}
	}
}

.info__text {
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-bottom: 30px;
}
