.work {
	@media screen and (max-width: 1200px) {
		display: none;
	}
	padding-top: 94px;
	padding-bottom: 94px;
}
.work__list {
	display: flex;
}

.work__item {
	position: relative;
	margin-right: 30px;
}
.work__item:nth-child(3n) {
	margin-right: 0px;
}
.work__foto {
	display: block;
	height: auto;
	width: 370px;
}
.work__text {
	color: #ffffff;
	display: block;
}
.work__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.work__text {
	position: absolute;
	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
